*{
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
    margin: 30px ;
}

.conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.button{
    padding: 20px ;
    margin: 0 3px ; 
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer ; 
}

.row{
    margin: 4px 0 ;
}

.row input{
    padding: 10px 38px ;
    border: 2px solid black ;
    border-radius : 9px ;
}
